/*
Theme Name: WpRentals Child theme
Theme URI: http://themeforest.net/user/annapx
Description: Ultimate WordPress Theme created by WP Estate for accomodation booking. WP Rentals is clean, flexible, fully responsive and retina Ready. Its smart settings allows you to build outstanding renting websites easy and fast.
Version: 1.00
Author: wpestate
Author URI: http://themeforest.net/user/annapx
Tags: white, one-column, two-columns,left-sidebar, right-sidebar, fluid-layout , custom-menu, theme-options, translation-ready
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template:     wprentals
Text Domain:  wpestate-child
-------------------------------------------------------------- */
.property_header2 .property_categs .check_avalability { color: #fff; display: none!important; }

.advanced_search_map_list_container [class*='col-']:nth-child(2){
display: none!important;
}

.advanced_search_map_list_container [class*='col-']:nth-child(3){
display: none!important;
}

.advanced_search_map_list_container [class*='col-']:nth-child(4){
display: none!important;
}

.advanced_search_map_list_container [class*='col-']:nth-child(5){
display: none!important;
}

.advanced_search_map_list_container [class*='col-']:nth-child(8){
display: none!important;
}

.advanced_search_map_list_container [class*='col-']:nth-child(9){
display: none!important;
}
.advanced_search_map_list_container [class*='col-']:nth-child(10){
display: none!important;
}
#topbarregister:before {
    content: "";
    background-image: url('css/css-images/header_icons.png');
}

#topbarlogin:before{
    content:"";
    background-image: url('css/css-images/header_icons.png');
}

.property_location .inforoom {
    font-size: 13px;
    background-image: url('./css/css-images/icon_bed1.png');
}

.property_location .infoguest {
    font-size: 13px;
    background-image: url('./css/css-images/icon_bath1.png');
 }


.property_location .infosize {
    background-image: url('./css/css-images/icon-size1.png');
}


.panel-title-arrow {
    background-image: url('css/css-images/property_arrows.png');
}

.panel-title.collapsed .panel-title-arrow {
    background-image: url('css/css-images/property_arrows.png');
    background-position: 2px 0px;
}

.calendar_icon:after {
    content: " ";
    background-image: url('css/css-images/calendar_icon.png');
}

.rooms_icon:after {
    content: " ";
    background-image: url('css/css-images/door_icon.png');
 }

.types_icon:after {
    content: " ";
    background-image: url('css/css-images/types_icon.png');
}

.actions_icon:after {
    content: " ";
    background-image: url('css/css-images/category_icon.png');
 }

.bedrooms_icon:after {
    content: " ";
    background-image: url('css/css-images/bedrooms_icon.png');
}

.baths_icon:after {
    content: " ";
    background-image: url('css/css-images/bathrooms_icon.png');
 
}

#guest_no_shortcode:after, #guest_no_mobile:after, #booking_guest_no_wrapper:after, #guest_no_widget:after, #guest_no:after,
#guest_no_mobile:after,
#booking_guest_no_wrapper:after,
#guest_no_widget:after,
#guest_no:after,
#guest_no_shortcode:after, 
#guest_no_mobile:after, 
#booking_guest_no_wrapper:after, 
#guest_no_widget:after, 
#guest_no:after{
    background-image: url('css/css-images/icon_guest.png');

}


.map_icon:after {
    background-image: url('css/css-images/icon_pin.png');

}


/*
#infocloser{
    background-image: url('/css/css-images/closeicon.png');
}

#infoguest{
    background-image: url('/css/css-images/icon_bath.png');
}

#inforoom{
    float: right;
    background-image: url('/css/css-images/icon_bed.png');

}

#infosize{
    background-image: url('/css/css-images/icon-size.png');
}

*/

/**
 * Property listing page
 */
.list_detail_prop_price_per_night_7d,
.list_detail_prop_price_per_night_30d,
.list_detail_prop_price_cleaning_fee,
.panel-title#listing_calendar,
.all-front-calendars {
    display: none;
}

/**
 * Owner area
 */
.owner_read_more {
    display: none;
}
.owner_listing_image {
    margin: 0 auto 20px;
}
.owner_read_more {
    width: 100%;
}

/**
 * Booking box
 */
.booking_form_request h3 {
    margin-bottom: 5px;
}
.booking_form_request h2 {
    font-size: 40px;
    font-weight: 500;
}
.has_calendar.guest_icon, #end_date {
    display: none;
}
#submit_booking_front, #submit_booking_front_instant {
    background: #f35d07;
}
#submit_booking_front:hover:hover, #submit_booking_front_instant:hover {
    background: #dd4f0c;
}
.renters-insurance, .no-charge-yet {
    font-size: 14px;
    padding: 0 20px;
    text-align: center;
    color: #a6b2c4;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
}
.no-charge-yet {
    padding-top: 10px;
}
.booking_form_request .third-form-wrapper {
    margin-top: 10px;
}
#contact_host {
    background: #4c5466;
    border-color: #4c5466;
}
#faq-btn {
    border: 2px solid #4c5466;
    padding: 10px 17px;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
    width: 100%;
}

/**
 * Instant booking modal
 */
.date_duration, .invoice_row.header_legend, .invoice_row.invoice_content {
    display: none;
}

/**
 * Tooltips
 */
.tooltip-wrap {
    position: relative;
    display: inline-block;
}
.tooltip-box {
    padding: 20px;
    margin-left: 10px;
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
    transform: translateY(-50%);
    z-index: 10;
}
.tooltip-trigger:hover + .tooltip-box {
    opacity: 1;
    visibility: visible;
}
.tooltip-trigger {
    max-width: 18px;
    display: block;
    margin-bottom: -3px;
    margin-left: 6px;
}

/**
 * Contact owner
 */
.modal .property-details {
    margin-bottom: 10px;
}
#booking_to_date, #booking_guest_no {
    display: none;
}
#contact_owner_modal .has_calendar:nth-child(6) {
    display: none;
}

/**
 * Map
 */
.infodetails {
    position: relative;
    float: right;
    margin-top: 11px;
    margin-right: 12px;
    margin-left: 0px;
    color: #8A8F9A;
    background: #cbcada;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #a09fb7;
}