/*=Theme Options */

.modal_notice{
    position: absolute;
    width: 400px;
    top: 20%;
    left: 50%;
    margin-left: -245px;
    background-color: #fff;
    z-index: 100;
    padding: 30px;
    box-shadow: 1px 3px 20px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 1.3em;
}
.modal_notice p{
    font-size:15px;
}

.cleared_cache{
    background: #e12c2c;
    color:#fff;
    font-size: 15px;
    padding: 10px;
    margin: 10px 20px 0 2px;
}
.license_check_wrapper{
    background-color: #b881fc;
    color: #fff;
    margin: 10px 20px 0 2px;
    padding: 5px 10px;
}
#wpestate_license_key{
    width: 300px;
    height: 28px;
}

#check_ajax_license {
    height: 32px;
    padding: 0px 25px!important;
    line-height: 32px;
}
.license_form{
    margin-top: 10px;
}



#wpfooter{
    display:none;
}
#css_modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 10%;
    margin-left: -250px;
    width: 500px;
    height: 610px;
    overflow: auto;
    border: 1px solid #efefef;
    box-shadow: 0 1px 1px rgba(0,0,0,.14);
    background-color: #fff
}

.modal-content {
    background-color: #fefefe;
    margin: 20px 30px;
    padding: 20px;
    border: 1px solid #efefef;
    height: 500px;
    overflow: auto;
    width: 440px;
}

.css_modal_close {
    color: #aaa;
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 5px;
}

.css_modal_close:hover,
.css_modal_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#activate_pack_reservation_fee,
#activate_pack_listing,
#activate_pack{
    background-color: #45b37e;
    color:#fff;
    padding:10px 20px;
    cursor:pointer;
    display: inline-block;
}


.wpestate_adv_search_label{
    font-size: 14px;
    margin-bottom: 10px;
    float: left;
}

#wpestate_search_bar{
    width: 100%;
    padding: 10px;
    font-size: 15px;
}

.wpestate_admin_search_bar{
    width:100%;
    float: left;
    background: #ececec;
    border: 1px solid #ccc;
    padding: 10px;
    
}



.pblank{
    margin-bottom: 40px;
}

#theme_slider{
    height: 400px!important;
}

.wpestate-tab-wrapper-container p{
    margin-left: 20px;
}

.admin-exp{
    padding-left: 230px;
}


.desgintable input{
    float:left;
}

.wpestate-tab-wrapper-container{
    float:left;
      background: #ececec;
      border: 1px solid #ccc;
}


.wpestate-tab-wrapper{
    width:200px;
    height:100%;
    float:left;
}



.ourlogo{
    width:100%;
    float:left;
    height: 95px;
}

.ourlogo img{
    margin:28px 0px 0px 20px;
}

.wpestate-tab-item{
    width:100%;
    padding: 0px; 
    float:left;
    font-size: 14px;
    font-family: 'Arial';
    font-style: normal;
    box-sizing: border-box;
    -moz-box-sizing: border-box;    
    z-index: 100;
    position: relative;
    border-bottom: 1px solid #ddd;
    cursor:pointer;
}

.wpestate-tab-item:hover{
    background-color: #f1f1f1;
}

.wpestate-tab-item:hover a{
     color:#45b37e;
}


.wpestate-tab-item a{
    text-decoration: none;
    color: #1a171b;
    line-height: 22px;
    padding: 13px 0px 5px 15px;
    width: 185px;
    float: left;
    min-height: 30px;    
}


.wpestate-tab-active{
   background-color: #FCFCFC;
    width: 101%;
}

.wpestate-tab-active a{
      color:#45b37e;
}

.wpestate-tab-container{
    height:100%;
    min-height: 800px;
    width:690px;
    float:left;
    border-left:1px solid #ccc;
    background-color: #FCFCFC;
    z-index: 10;
    position: relative;
    padding-right: 20px
}


.wpestate-tabh1{
    color: #1a171b;
    font-size: 25px;
    font-weight: normal;    
    margin: 37px 20px 20px 20px!important;
}

.wpestate-tab-container .form-table{
    margin-left: 20px;
    color: #1a171b!important;
}


/*=Page Options */

.metacustom label{
    width:100%;
    float: left
}

.cur_explanations {
    margin: 10px 0px;
}

.metacustom{
    float:left;
    width:33%;
    margin-bottom: 22px;
}

.field_item{
    float:left;
    width:135px;
    margin-right:20px;
}

.field_item input {
    width: 125px!important;
    min-width: 125px!important;
}
.field_row{
    margin-bottom: 25px;
    float: left;
    width:100%;
}

.deletefieldlink{
    margin-top: 25px;
    float: left;
    margin-left: 10px;
}

#custom_fields{
    float:left;
    margin: 10px 10px 30px 10px;
}

#add_field{
    margin: 10px 0px 17px 0px;
    background-color: #4ecb8f;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

#add_curency{
    margin: 10px 0px 10px 0px;
    background-color: #4ecb8f;
    color: #fff;
    padding: 11px;
    text-decoration: none;
    display: inline;
    border-radius: 3px;
    display: inline-block;
}

.memebership_row{
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.memebership_item{
   width:200px;
   margin: 10px 0px 0px 0px;
   float:left;
}

.memebership_item label{
    width:100%;
}

#new_membership{
    width: 86px;
    height: 20px;
    float: left;
    padding: 6px 10px 0px 10px;
    background-color: #ccc;
    margin-top: 25px;
    cursor: pointer;
}

.submit_membership{
    clear: both;
    float: left;
}

#sample_member_row{
   display:none; 
}

.memebership_alert{
    padding: 8px;
    background-color: #fffbcc;
    margin: 4px;
    width: 375px;
}

.remove_pack{
    margin-top: 30px;
    float: left;
    cursor: pointer;
}

.memeber_title{
    margin: 30px 0px 0px 0px;
    float:left;
}

.pblankh{
    padding-left:0px!important;
    font-size: 15px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px;
}

.meta-box-sortables select {
    max-width: 250px;
    width: 100%;
}

.third-meta-options {
    width: 33%;
    display: inline-block;
    box-sizing: border-box;
}


/* =MailChimp
----------------------------------------------- */

#mc_embed_signup,
.indicates-required,
.mc-field-group,
.mce-responses,
.response,
#mce-responses .clear{
    display:block!important;
}

.edit-comments-php .response.column-response {
    width: 100%;
    display: table-cell!important;
}
/* Patterns admin
/////////////////////////////////////////////////////////////////////////////////////*/


.colorpicker {
    width: 356px;
    height: 176px;
    overflow: hidden; 
    position: absolute;
    background: url(css-images/colorpicker_background.png);
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    
}

.colorpicker_color {
    width: 150px;
    height: 150px;
    left: 14px;
    top: 13px;
    position: absolute;
    background: #f00;
    overflow: hidden;
    cursor: crosshair;
}

.colorpicker_color div {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: url(css-images/colorpicker_overlay.png);
}

.colorpicker_color div div {
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
    overflow: hidden;
    background: url(css-images/colorpicker_select.gif);
    margin: -5px 0 0 -5px;
}

.colorpicker_hue {

    position: absolute;

    top: 13px;

    left: 171px;

    width: 35px;

    height: 150px;

    cursor: n-resize;

}

.colorpicker_hue div {

    position: absolute;

    width: 35px;

    height: 9px;

    overflow: hidden;

    background: url(css-images/colorpicker_indic.gif) left top;

    margin: -4px 0 0 0;

    left: 0px;

}

.colorpicker_new_color {

    position: absolute;

    width: 60px;

    height: 30px;

    left: 213px;

    top: 13px;

    background: #f00;

}

.colorpicker_current_color {

    position: absolute;

    width: 60px;

    height: 30px;

    left: 283px;

    top: 13px;

    background: #f00;

}

.colorpicker input {

    background-color: transparent;

    border: 1px solid transparent;

    position: absolute;

    font-size: 10px;

    font-family: Arial, Helvetica, sans-serif;

    color: #898989;

    top: 4px;

    right: 11px;

    text-align: right;

    margin: 0;

    padding: 0;

    height: 11px;

}

.colorpicker_hex {

    position: absolute;

    width: 72px;

    height: 22px;

    background: url(css-images/colorpicker_hex.png) top;

    left: 212px;

    top: 142px;

}

.colorpicker_hex input {

    right: 6px;

}

.colorpicker_field {

    height: 22px;

    width: 62px;

    background-position: top;

    position: absolute;

}

.colorpicker_field span {

    position: absolute;

    width: 12px;

    height: 22px;

    overflow: hidden;

    top: 0;

    right: 0;

    cursor: n-resize;

}

.colorpicker_rgb_r {

    background-image: url(css-images/colorpicker_rgb_r.png);

    top: 52px;

    left: 212px;

}

.colorpicker_rgb_g {

    background-image: url(css-images/colorpicker_rgb_g.png);

    top: 82px;

    left: 212px;

}

.colorpicker_rgb_b {

    background-image: url(css-images/colorpicker_rgb_b.png);

    top: 112px;

    left: 212px;

}

.colorpicker_hsb_h {

    background-image: url(css-images/colorpicker_hsb_h.png);

    top: 52px;

    left: 282px;

}

.colorpicker_hsb_s {

    background-image: url(css-images/colorpicker_hsb_s.png);

    top: 82px;

    left: 282px;

}

.colorpicker_hsb_b {

    background-image: url(css-images/colorpicker_hsb_b.png);

    top: 112px;

    left: 282px;

}

.colorpicker_submit {

    position: absolute;

    width: 22px;

    height: 22px;

    background: url(css-images/colorpicker_submit.png) top;

    left: 322px;

    top: 142px;

    overflow: hidden;

}

.colorpicker_focus {

    background-position: center;

}

.colorpicker_hex.colorpicker_focus {

    background-position: bottom;

}

.colorpicker_submit.colorpicker_focus {

    background-position: bottom;

}

.colorpicker_slider {

    background-position: bottom;

}









.colorpicker {
    width: 356px;
    height: 176px;
    overflow: hidden;
    position: absolute;
    background: url(css-images/colorpicker_background.png);
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    z-index:99;
}
.colorpicker_color {
    width: 150px;
    height: 150px;
    left: 14px;
    top: 13px;
    position: absolute;
    background: #f00;
    overflow: hidden;
    cursor: crosshair;
}
.colorpicker_color div {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: url(css-images/colorpicker_overlay.png);
}
.colorpicker_color div div {
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
    overflow: hidden;
    background: url(css-images/colorpicker_select.gif);
    margin: -5px 0 0 -5px;
}
.colorpicker_hue {
    position: absolute;
    top: 13px;
    left: 171px;
    width: 35px;
    height: 150px;
    cursor: n-resize;
}
.colorpicker_hue div {
    position: absolute;
    width: 35px;
    height: 9px;
    overflow: hidden;
    background: url(css-images/colorpicker_indic.gif) left top;
    margin: -4px 0 0 0;
    left: 0px;
}
.colorpicker_new_color {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 213px;
    top: 13px;
    background: #f00;
}
.colorpicker_current_color {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 283px;
    top: 13px;
    background: #f00;
}
.colorpicker input {
    background-color: transparent;
    border: 1px solid transparent;
    position: absolute;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #898989;
    top: 4px;
    right: 11px;
    text-align: right;
    margin: 0;
    padding: 0;
    height: 11px;
}
.colorpicker_hex {
    position: absolute;
    width: 72px;
    height: 22px;
    background: url(css-images/colorpicker_hex.png) top;
    left: 212px;
    top: 142px;
}
.colorpicker_hex input {
    right: 6px;
}
.colorpicker_field {
    height: 22px;
    width: 62px;
    background-position: top;
    position: absolute;
}
.colorpicker_field span {
    position: absolute;
    width: 12px;
    height: 22px;
    overflow: hidden;
    top: 0;
    right: 0;
    cursor: n-resize;
}
.colorpicker_rgb_r {
    background-image: url(css-images/colorpicker_rgb_r.png);
    top: 52px;
    left: 212px;
}
.colorpicker_rgb_g {
    background-image: url(css-images/colorpicker_rgb_g.png);
    top: 82px;
    left: 212px;
}
.colorpicker_rgb_b {
    background-image: url(css-images/colorpicker_rgb_b.png);
    top: 112px;
    left: 212px;
}
.colorpicker_hsb_h {
    background-image: url(css-images/colorpicker_hsb_h.png);
    top: 52px;
    left: 282px;
}
.colorpicker_hsb_s {
    background-image: url(css-images/colorpicker_hsb_s.png);
    top: 82px;
    left: 282px;
}
.colorpicker_hsb_b {
    background-image: url(css-images/colorpicker_hsb_b.png);
    top: 112px;
    left: 282px;
}
.colorpicker_submit {
    position: absolute;
    width: 22px;
    height: 22px;
    background: url(css-images/colorpicker_submit.png) top;
    left: 322px;
    top: 142px;
    overflow: hidden;
}
.colorpicker_focus {
    background-position: center;
}
.colorpicker_hex.colorpicker_focus {
    background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
    background-position: bottom;
}
.colorpicker_slider {
    background-position: bottom;
}

.colorpickerHolder{
    height: 40px;
    left: 0;
    top: 0;
    width: 40px;
    float: left;
    border: 1px solid #ccc;
    margin-left: 5px;
    margin-right: 5px;
}

.colorpickerHolder div{
    background:transparent url(css-images/select2.png) repeat scroll center center;
    height:40px;
    left:4px;
    top:4px;
    width:40px;
}
#colorpickertable .inptxt{width:70px;}
#colorpickertable .clp{width:250px;padding-left:15px;}




/*=======================================================================

    Tabs
    
 ========================================================================*/

.tabs { 
    display: block;
    width:700px;
    margin-top:30px;
    border:1px solid #CCC;
}

.tabs ul {
    margin: 0;
    padding: 0;
    height: 20px;
    border-bottom: 1px solid #CCC;
}

.tabs li {
    display: block;
    width:200px;
    padding: 0;
    margin: 0 10px 0 0;
    line-height: 30px;
    float: left;
    color: #999;
    cursor: default;
}

.tabs li a {
    display: block;
    width: auto;
    height: 29px;
    padding: 0 9px;
    line-height: 30px;
    border: 1px solid #CCC;
    margin: 0 -1px 0 0;
    color: #05390a;
    background: #5dbb73;
    text-decoration: none;
}

.tabs li a:hover {
    text-decoration: none;
}

.tabs li.active a {
    height: 30px;
    font-weight: bold;
    background: #ebffef;
    border-width: 1px 1px 0 1px;
}

.tabs div {
    display: none;
    padding: 20px 10px;
}

#googleMap > div{
    display: block;
} 

#googleMap > div div{
    display: block;
} 
/*  */

#tabsys input[type="text"],#tabpat input[type="text"]{	
    float: left;
    display: inline;
}

#tabsys .colorpickerHolder,#tabpat .colorpickerHolder{
    display: inline;
    float:left;
    padding:0px;

}
#tabsys .sqcolor,#tabpat .sqcolor{
    display: block;
    padding:0px;
}

/* 
.tabs tabadmin {
               display: none;
padding: 20px 10px;
       }
*/	

.tabs div.active {
    display: block;
}

.tabs li:last-child {
    margin-right: 0;
}

/**** Pretty Tab Styles ****/

.pretty.tabs ul {
    display: table;
    width: 100%;
    border: 1px solid #CCC;
    background: #f7f7f7;


}

.pretty.tabs li {
    display: table-cell;
    float: none;
    text-align: center;
}

.pretty.tabs li a {
    padding: 0;
    font-size: 14px;
    height: 52px;
    line-height: 52px;
    color: #444;
    border: none;
    border-right: 1px solid #CCC;
    font-weight: bold;
    background: transparent;
}

.pretty.tabs li:last-child a {
    border-right: none;
}

.pretty.tabs li.active a {
    font-weight: bold;
    color: #fff;
    position: relative;
    border: none;
    background: #D74142; /* Old browsers */


}

.pretty.tabs ul li.active:first-child a {

    margin-left: 0; 
}

.pretty.tabs ul li.active:last-child a {

}

.ie7 .pretty.tabs > ul { width: 100%; height: 51px; }
.ie7 .pretty.tabs > ul li { display: block; float: left; margin: 0; }
.ie7 .pretty.tabs > ul li a { padding: 0 20px; }



/**** Pill Tabs ****/

.pill.tabs { height: auto; }
.pill.tabs li, .pill.tabs li, .pretty.pill.tabs li { float: none; height: auto; }
.pill.tabs li a { display: block; width: auto; height: auto; padding: 15px 20px; line-height: 1; border: solid 0 #ccc; border-width: 1px 1px 0; margin: 0; color: #555; background: #eee; font-size: 15px; font-size: 1.5rem; }
.pill.tabs li a.active { height: auto; margin: 0; border-width: 1px 0 0; background: #fff; }

.pretty.pill.tabs { border-bottom: solid 1px #eee; height: auto; }
.pretty.pill.tabs li a { padding: 15px 20px; border: none; border-left: 1px solid #eee; border-right: 1px solid #eee; border-top: 1px solid #eee; background: #fff; }
.pretty.pill.tabs li a.active { border: none; background: #00a6fc; color: #fff; margin: 0; position: static; top: 0; height: auto; }
.pretty.pill.tabs li.active:first-child a { margin: 0; }


@media only screen and (max-width: 767px) {
    .pretty.tabs ul {

        overflow: hidden;
    }

    .pretty.tabs li a {
        height: 36px;
        line-height: 36px;
        font-size: 14px;
    }
}

/* Vertically Align Stuff */

.valign { display: table; width: 100%; }

.valign > div, .valign > article { display: table-cell; vertical-align: middle; }


/*3.8 update*/

.form-table, .form-table td, .form-table th, .form-table td p, .form-wrap label{
    font-size: 13px;
    font-weight: normal;
}

textarea, input, select {
    font-size: 13px;
}

.field_item input{
    width:125px;
}

#add_status,
#add_feature{
    margin: 10px 0px 10px 0px;
    background-color: #4ecb8f;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

#estate_property-googlemap input[type=text],
#estate_property-custom input[type=text],
#estate_property-propdetails input[type=text],
#estate_property-sectionid input[type=text]{
        width:250px;
}

#estate_property-googlemap textarea,
#estate_property-custom textarea,
#estate_property-propdetails textarea,
#estate_property-sectionid textarea{
        width:250px;
}


.advsearchlable{
    margin-left: 10px;
}

.pblankh{
  padding-left: 0px;  
}





.wpb-content-layouts .wpb-layout-element-button .wpestate_vc_logo {
    background-image: url(css-images/vclogo.png);
    width: 32px;
    height: 32px;
    background-size: contain; 
}
.wpb-content-layouts .wpb-layout-element-button .vc-element-icon.wpestate_vc_logo {
    width: 32px;
    height: 32px; 
}

.vc_license-activation-notice{
    display:none;
}


.floor_p{
    width:33%;
    float:left;   
    height: 50px;
}

.plan_description{
    width:345px;
}

.plan_row{
    float: left;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 15px;
    position:relative;
}

.plan_row i {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #a51e6c;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}
.plan_row textarea,
.plan_row input{
    width:90%;
}

#plan_image_button{
    width:100px!important;
}

#add_new_plan {
    margin: 10px 0px 30px 0px;
    cursor:pointer;
   
    background-color: #4ecb8f;
    color: #fff;
    padding: 5px;
}



.create_invoice_form input[type=text], 
.create_invoice_form input[type=password], 
.create_invoice_form input[type=email], 
.create_invoice_form input[type=url], 
.create_invoice_form input[type=number], 
.create_invoice_form textarea {
    width: 70%;
    margin-bottom: 11px;
    font-family: 'Arial';
    font-size: 14px;
    padding: 8px 0px 8px 8px;
    color: #1a171b;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    background-color: #fff!important;
    box-shadow: none;
    text-align: left;
}

.date_interval{
    width: 280px;
    float: left;
}

.date_duration{
    width: 163px;
    float: left;
}

.total_inv_span{
    width:300px;
    float:left;
}

.invoice_details{
    float:left;
    width:100%;
    border:1px solid #45b37e;
    margin-bottom: 13px;
}

.invoice_row{
    float: left;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-bottom: 1px solid #45b37e;
}

.header_legend{
    background: #45b37e;
    color: #fff;
}

.inv_legend{
    width:100px;
    float: left;
    line-height: 1.2em;
}

.invoice_total .inv_legend{
    width:180px;
}
.invoice_total  .inv_legend.inv_legend_total{
    width:100px;
}
.inv_data{
    width:100px;
    float: left;
}

.inv_exp{
    width:280px;
    float: left;
}

.invoice_data{
    display: inline;
    width: 100%;
}


.email_row{
    float: left;
    width: 100%;
    padding-left: 20px;
    margin-bottom: 30px;
}
.email_row label{
    width:100%;
    float:left;
}

.email_row .extra_exp{
    width:96%;
}
.email_row input,
.email_row textarea{
    width:96%;
    margin:0px 0px 10px 0px;
}

/*=new interface*/


.new_admin_submit{
    font-size: 14px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 4px;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    outline: 0;
    border: 0;
    padding: 11px 25px!important;
    text-decoration: none;
    cursor: pointer;
    color: #fff !important;
    background-color: #313643;
    min-width: auto!important;
    padding-top: 9px!important;
}

.new_admin_submit_right{
    float: right;
    margin: 15px 15px 0px 0px;
}

.theme_options_hide{
    display:none;
}

#wpestate_wrapper_admin_menu h1{
    margin-top: 0px;
    padding: 20px 23px;
    display: inline-block;
}


.theme_option_separator{
    border-bottom: 0px solid #ccc;
}


.estate_option_row{
   border-bottom: 1px solid #FFE7E7;
   padding: 20px 20px 20px 230px;
}


#splash_slider_images{
    display: inline-block;
    padding-left: 30px;
    
}

.splash_image_info,
.splash_slider_info,
.splash_video_info{
    display:none;
}

#splash_slider_images.splash_slider_info{
    display:none;
}

.splash_attach_delete{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #a51e6c;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

.header_explanation {
    font-size: 12px;
    display: block;
    padding: 0px 0px 0px 230px;
}

#page_custom_video_cover_image_button,
#page_custom_video_ogv_button,
#page_custom_video_webbm_button,
#page_custom_video_button{
    box-shadow: none !important;
    border-radius: 6px;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    border-color: #d9d9d9;
    vertical-align: middle;
    height: 40px;
    padding: 7px 9px;
    min-width: 300px;
    -webkit-appearance: none;
    border: 1px solid #d9d9d9;
}


.estate_option_row_submit{
    padding: 20px 20px 20px 230px;
}

.label_option_row{
    font-weight: bold;
    font-size:15px;
    color: #002B2B;
}

.option_row_explain{
    color: #888888;
/*    font-style: italic;*/
    margin-bottom: 10px;
    line-height: 1.6em;
}

#wpestate_wrapper_admin_menu select {
    box-shadow: none !important;
    border-radius: 0px;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    border-color: #d9d9d9;
    vertical-align: middle;
    height: 40px;
    padding: 7px 9px;
    min-width: 300px;
}

#custom_fields_search select,
#custom_fields_wrapper select,
#custom_fields  select {
    width:135px!important;
    min-width:135px!important;
}



.upload_button {
    min-width: 150px!important;
    padding-top: 6px!important;
    background-color: #313643!important;
    color: #f3f4f7!important;
     min-height: 40px;

}

#wpestate_search_bar,
#wpestate_wrapper_admin_menu input{
    box-shadow: none !important;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    vertical-align: middle;
    height: 40px;
    padding: 7px 9px;
    min-width: 300px;    
    -webkit-appearance: none;
}


#free_mem_list_unl{    
    width: 18px;
    height: 18px!important;
    min-width: 18px!important;
    border-radius:1px!important;
}

#email_management_tab input{
    margin-bottom: 20px;
    min-width: auto!important;
}


#wpestate_wrapper_admin_menu textarea{
    border: 1px solid #d9d9d9;
    box-shadow: none !important;
    border-radius: 0px;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    
}
#wpestate_wrapper_admin_menu #custom_fields_wrapper .field_row textarea {
    border-radius: 0px;
    padding: 0px;
}


#global_settings_tab input:focus{
    border-radius: 0px;
}

.theme_options_sidebar ul{
    float:left;
    width:100%;
}

.theme_options_sidebar ul li{
    float: left;
    padding: 9px 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 3px 10px;
    width: 160px;
}

.theme_options_sidebar ul li.selected_option{
    background-color: #CDCDCD;
    background-color: #313643;
    color: #e7e8eb;

}
.theme_options_sidebar ul li:hover{
    background-color: #a1a8b7;
}


.wrap-topbar{
    position:relative;
    float:left;
    width: 100%;
    height: 100px;
    background-color: #3e4453;
    color: #9DA5B9;
}
.theme_details{
    position: absolute;
    top: 78px;
    right: 20px;
}

#title_demo_import{
    color: #F8D10A;
    margin: 25px 20px 20px 20px;
    float: left;
    font-size: 23px;
    font-weight: 400;
    padding: 9px 15px 4px 0;
    line-height: 29px;
}

.upload_details{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}


.admin_top_bar_button{
    color: #9DA5B9;
    cursor: pointer;
    text-align: center;
    float: left;
    width: 110px;
    height: 100px;
    padding: 27px 6px 10px 6px;
    box-sizing: border-box;
}

.tobpbar_selected_option,
.admin_top_bar_button:hover{
    background-color: #313643;
}

.admin_top_bar_button img{
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

.uploaded_thumb {
    float: left;
    display: inline;
    margin: 10px 20px 10px 0px;
    position: relative;
}

#wpestate_sidebar_menu{
    width: 200px;
    background-color: #ECECEC;
    border: 1px solid #E4E4E4;
    float:left;
    min-height: 800px;
}

#wpestate_wrapper_admin_menu{
    width: 100%;
    /* float: left; */
    min-height: 1200px;
    background: #fff;
}




#estate_admin_form{
    width: 100%;
    float: left;
}

#aaiu-uploader-demo{
    float:left;
    clear:both;
    font-size: 14px;
    text-transform: uppercase;
    line-height: normal!important;
    background-color: #002B2B !important;
    color: #fff;
    padding: 9px 26px!important;
    -webkit-appearance: button;
    cursor: pointer;
    color: #fff;
    margin: 20px 10px 10px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-shadow: none;
}

#upload-container{
    float: left;
    width: 100%;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
}
.file_progress{
    float:left;
    width:100%;
}

.uploaded_images_demo{
    position: relative;
    float: left;
    margin-right: 20px;
}

.activate_wrapper{
    
}

.activate_template{
    display: inline-block;
    bottom: -50px;
    right: -5px;
    background-color: #3C90BE;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    line-height: normal!important;
    background-color: #002B2B !important;
    color: #fff;
    padding: 9px 26px!important;
    -webkit-appearance: button;
    cursor: pointer;
    color: #fff;
    margin: 20px 10px 10px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-shadow: none;
}


#wpestate_wrapper_admin_menu  input[type=checkbox].admin_checker{
    width: 15px;
    min-width: 15px;
    height: 15px;
    border-radius: 0px;
    margin-right: 10px;
    margin-top: 2px;
} 

.template-item{
    float: left;
    margin-right: 25px;
}

.importing_mess {
    bottom: -37px;
    left: 2px;
    padding: 10px 0px;
    color: #002B2B;
    width: 200px;
    display: inline-block;
}

/*=api*/
.apinotice{
    background-color: #16A085;
    color: #fff;
    padding: 10px;
    padding: 20px 20px 20px 20px;
    display: inline-block;
    margin-left: 30px;
}

.apinotice.apierror{
    background-color:red;

}


.row{

}

.col-md-1, 
.col-md-2, 
.col-md-3, 
.col-md-4, 
.col-md-5, 
.col-md-6, 
.col-md-7, 
.col-md-8, 
.col-md-9, 
.col-md-10, 
.col-md-11, 
.col-md-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-12 {
    width: 100%;
    background: #ddd;
}

.col-md-6 {
    width:50%;
}

.col-md-4 {
    width:33.3%;
}

.col-md-3 {
    width:25%;
}

.col-md-2 {
    width:16.6%;
}


.col-md-1 {
    width:8.3%
}

.payments_management_wrapper{
    font-size: 13px;
    width: 100%;
    float: left;
}

.payments_management_wrapper .payment_management_head{
    border:1px solid #ccc;
    font-size: 14px;
    background-color: #3e4453;
    color:#fff;
    padding: 10px;
    font-weight: bold;
}

.payments_management_wrapper .col-md-1, 
.payments_management_wrapper .col-md-2, 
.payments_management_wrapper .col-md-3, 
.payments_management_wrapper .col-md-4, 
.payments_management_wrapper .col-md-5, 
.payments_management_wrapper .col-md-6, 
.payments_management_wrapper .col-md-7, 
.payments_management_wrapper .col-md-8, 
.payments_management_wrapper .col-md-9, 
.payments_management_wrapper .col-md-10, 
.payments_management_wrapper .col-md-11, 
.payments_management_wrapper .col-md-12{
    border: 1px solid #eee;
    padding: 5px;
    box-sizing: border-box;
    min-height: 60px;
    
}

.actions_row{
    margin-bottom: 10px;
}


.pay_owner,
.refund_security,
.refund_buyer,
.issue_final_invoice{
    padding: 5px 15px;
    float:left;
    font-size:14px;
    color:#fff;
    margin: 0 20px!important;
    cursor:pointer;
}

.pay_owner{
    background-color: #4ecb8f;
}
.refund_security{
     background-color: #4ecb8f;
}

.refund_buyer{
     background-color: #4ecb8f;
}

.issue_final_invoice{
     background-color: #4ecb8f;
}

/*=Payments management*/

.woocommerce table.shop_table, .woocommerce-page table.shop_table {
    border: 1px solid #dce0e0!important;
    background-color: #fff;
    margin: 0px -1px 24px 0px;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    padding: 0px;
}


.info-container{
    padding: 24px 24px;
    border: 1px solid #e4e4e4;
    background-color: #ffffff;
    margin-bottom: 24px;
}
.label_option_row{
    margin-bottom: 10px;
}

.woocommerce table.shop_table, 
.woocommerce-page table.shop_table {
    border: 1px solid #dce0e0!important;
    background-color: #fff;
}

.woocommerce table.my_account_orders, 
.woocommerce-page table.my_account_orders{
    padding:0px;
}

.shop_table thead{
    color: #484848;
    font-size: 16px;
    background-color: #edefed;
    border-bottom: 1px solid #dce0e0;
    color: #484848;
    font-size: 13px;
    padding: 20px 20px!important;
}

.shop_table tbody tr:nth-of-type(even) {
    background-color: #f6f2f2!important;
}

.email_row{
    margin-bottom: 10px;
}

.sms_title{
    font-weight: bold;
    font-size: 13px;
}


.woocommerce a.button.refund_security_buyer,
.woocommerce a.button.pay_owner,
.woocommerce a.button.refund_full_buyer,
.woocommerce a.button.refund_buyer{
    padding: 10px 24px!important;
    font-size: 12px;
    background-color: #00A699;
    margin-right: 10px;
    font-weight: normal;
}



.woocommerce-MyAccount-navigation ul li.is-active a{
    border-bottom:3px solid #bbb;
}

.shop_table tbody td {
    padding: 10px 7px !important;
    border-top-color: #fafafa !important;
}


.woocommerce-account  table th {
    text-align: center;
    padding: 18px 12px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}

.hidden{
    display:none;
}

.invoice_confirmed{
    width:100%;
    font-weight: bold;
}

.invoice_paid{
    width:100%; 
    font-weight: bold;
    float:left;
}

.property-thead{
    width:100px;
}

.status-thead{
    width:100px;
}

.period-thead{
    width:100px;
}

.payment_email_details{
    width: 100%;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.payment_not_possible{
    float: left;
    padding: 7px 10px;
    background-color: #f7f7f7;
    color: #a0a5aa;
    border-radius: 4px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

.pagnav-wrapper{
    display: none;
}

.invoice_details_head{
    width:200px;
}


.invoice_details_explanation{
    width:100%;
    float:left;
}

.payment_management_rentals_wrapper{
    margin-left: 220px;
    
}

#estate_invoice-sectionid #print_invoice{
    display:none;
}

.invoice_explantions{
    width:100%;
    float:left;
    margin: 5px 0px;
}

#add_curency_wrapper{
    display: inline-block;
}

.wpestate_editor_class .wp-editor-wrap{
    float:left;
    width:100%;
}

#menu-posts-wpestate_booking ul {
    padding: 0px!important;
}


.welcome-panel .welcome-panel-close{
    display:none!important;
}


#menu-posts-wpestate_booking li,
.post-type-wpestate_booking .wrap .wp-heading-inline+.page-title-action,
.welcome-panel .welcome-panel-close {
    display:none!important;
}



.welcome-panel .welcome-panel-close{
    display:none!important;
}

.wpestate_admin_menu {
    position: absolute;
    top: 15px;
    right: 20px;
    height: 30px;
}

.wpestate_admin_menu a,
.wpestate_admin_submenu{
    text-transform: uppercase;
    float: left;
    font-weight: 600;
    display: block;
    right: 0px;
    padding: 0px 5px;
    color: #ece9e9;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
    letter-spacing: -0.1px;
}

.wpestate_admin_menu .menu_admin{
    display: inline;
    height: 100%;
}

.wpestate_admin_menu a:hover,
.wpestate_theme_opt a,
.wpestate_theme_opt a:hover,
.wpestate_admin_submenu:hover{
    color: #fff;
}

.welcome-panel {
    padding: 0px;
    position: relative;
    overflow: hidden;
    margin: 16px 0;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    font-size: 13px;
    line-height: 2.1em;
    width: 100%;
    height: auto;
    min-height: 300px;
}


.wpestate_admin_theme_back{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(css-images/wpadmin_back.jpeg);
    background-size: auto;
    background-position: 0% 50%;
    height: 300px;
}
.wpestate_admin_theme_gradient{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    background-color: #3e4453;
    opacity: 0.65;
    height: 300px;
}



.theme_details_welcome {
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    float: left;
    margin-right: 7px;
    line-height: 42px;
}

.wpestate_admin_version {
    position: absolute;
/*    bottom: 15px;*/
    top: 240px;
    right: 20px;
}

.wpestate_admin_version .dashicons.dashicons-lock,
.wpestate_admin_version .dashicons.dashicons-unlock {
    float: left;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    font-size: 18px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

#start_wprentals_setup {
    float: left;
}

.wpestate_admin_theme_opt {
    line-height: 40px;
    top: 50%;
    top: 139px;
    position: absolute;
    width: auto;
    margin-top: -22px;
    right: 15%;
    font-size: 14px;
}

#start_wprentals_setup {
    float: left;
    margin-right: 10px;
    background-color: #fff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.wpestate_theme_opt{
    float: left; 
    color: #fff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.wpestate_admin_button{
    padding: 0px 20px;
    border: 2px solid #fff;
    border-radius: 3px;
    line-height: 40px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}

.wpestate_admin_button.wpestate_start_wrapper_close {
    line-height: 20px;
    padding: 10px;
    float: right;
}

.reverse_but{
    background-color: #4d5567;
  
    font-weight: 600;
    color: #fff;
}

.reverse_but:hover{
    background-color: #576074;
    color: #fff;
}

.admin_widget_logo{
    float:left;
}

.dasboard_widget_color{
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #efefef;
    margin-right: 10px;
    margin-bottom: 10px;
}
.more_colors{
    display: inline-block;
}

.dashboard-widget-list{
    margin-top: 0px;
    margin-bottom: 0px;
}

.new_page_title{
    font-weight: 600;
    width: 130px;
    display: inline-block;
}

.see_pages_dash{
    margin-bottom: 31px;
}

.add_form_wrapper{
    margin-bottom: 10px;
}

#new_page_title,
#widget_new_page_template{
    height: 35px;
    width: 250px;
}

#wpestate_dashboard_links form{
    margin-top: 10px;
}

#wpestate_set_payments,
#wpestate_dashboard_new_property,
#wpestate_dashboard_welcome,
#wpestate_dashboard_links{
    height: 287px;
}

#start_wprentals_setup:hover{
    background-color: #b881fc;
    border-color: #b881fc;
    color: #fff;
}

.wpestate_theme_opt:hover{
    border-color: #b881fc;
}

.dashboard_widget_logo {
    top: 25px;
    position: absolute;
    left: 25px;
    opacity: 0.85;
    width: 131px;
}

.wpestate_admin_menu ul li ul {
    visibility: hidden;
    opacity: 0;
    width: 0px;    
}

.wpestate_admin_menu ul li:hover>ul {
    visibility: visible;
    opacity: 1;
    position: absolute;
    right: 5px;
    border: 1px solid #fff;
    padding: 3px;
    top: 35px;
    width: 125px;
    background: #586173;
}
.wpestate_dropdown_admin a{
    font-size: 11px;
    letter-spacing: initial;
}
.wpestate_admin_menu ul li i{
    font-size:12px;
}
.dashicons-arrow-down-alt2:before {
    content: "\f347";
    font-size: 13px;
    float: left;
    margin-top: 1px;
}

.wpestate_admin_submenu {
    float: left;
    margin: 0px;
}

.welcome-panel li {
    font-size: 13px;
    float: left;
    padding: 0px 7px;
}

.wpestate_admin_menu .dashicons {
    line-height: 1.4em;
    margin-left: 5px;
}

.dashboard_widget_exp{
    font-weight: 600;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1800px) and (min-width: 1500px){
#wpbody-content #dashboard-widgets #postbox-container-2, #wpbody-content #dashboard-widgets #postbox-container-3, #wpbody-content #dashboard-widgets #postbox-container-4 {
        float: left; 
    
    }
}

@media only screen and (max-width: 1499px) and (min-width: 800px){
#wpbody-content #dashboard-widgets #postbox-container-2, #wpbody-content #dashboard-widgets #postbox-container-3, #wpbody-content #dashboard-widgets #postbox-container-4 {
        float: left;
        width: 49.5%;
    }
}


.wpestate_admin_end_notice,
.wpestate_admin_start_activate_theme,
.wpestate_admin_start_map,
.wpestate_admin_start_general_settings,
.wpestate_admin_start_booking_settings,
.wpestate_admin_start_booking_payment{
    display: none;
}

#wpestate_start_wrapper {
    width: auto;
    margin-top: 300px;
    padding: 20px;
    display: none;
}

#wpestate_start_wrapper h1 {
    font-weight: 600;
}

.label_option_start {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.6em;
}

#wpestate_start_wrapper .option_row_explain {
    line-height: 1.6em;
    width: 40%;
}

#wpestate_start_wrapper select {
    padding: 2px 5px;
    line-height: 35px;
    height: 35px;
    width: 250px;
}

#wpestate_start_wrapper .estate_start_setup {
    margin: 20px 0px;
}

#wpestate_start_wrapper input[type=text]{
    padding: 10px;
    line-height: 35px;
    width: 250px;
    height: 35px;
}

.wpestate_admin_start_general_settings input[type=text]{
    width: 150px;
}

.wpestate_admin_start_general_settings select{
    width: 100px;
}

.wpestate_admin_start_booking_settings select{
    width: 190px;
}

#wpestate_start_wrapper .reverse_but {
    width: 110px;
    padding: 0px;
}

.wpestate_admin_end_notice p,
.wpestate_admin_start_notice_wpapper,
#wpestate_start {
    text-align: center;
}

.wpestate_admin_start_notice_wpapper .wpestate_admin_button {
    border-color: #b881fc;
    margin: 0px 20px;
}

.wpestate_admin_start_notice_wpapper .wpestate_admin_button a{
     color: #444; 
}

.wpestate_admin_start_notice_wpapper .wpestate_admin_button:hover {
    color: #fff;
    background: #b881fc;
}
.wpestate_admin_start_notice_wpapper .wpestate_admin_button:hover a{
    color: #fff;
}

#toplevel_page_libs-theme-admin .wp-menu-name {
    padding: 8px 10px!important;
}

.field-megamenu-background.description.description-wide img {
    width: 100px;
    height: auto;
}

.edit-tags-php #category_featured_image {
    margin-bottom: 10px;
}

.edit-tags-php #category_featured_image_button{
    padding-top: 0px!important;
    margin-top: 0px;
}

#category_featured_image_button {
    padding-top: 0px!important;
    margin-top: -6px;
}